# --- System Files (Sampah OS) ---
.DS_Store
Thumbs.db

# --- Editor Settings (Tak perlu upload setting VS Code anda) ---
.vscode/
.idea/

# --- DATA KLIEN (SANGAT PENTING!) ---
# Block semua fail Excel & CSV supaya data sulit tidak ter-upload
*.xlsx
*.xls
*.csv

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Dependencies (Kalau masa depan guna node modules) ---
node_modules/
dist/
